.section {
    text-align: center;
    margin-inline: 15vw;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
    .section {
        text-align: center;
        margin-inline: 0vw;
    }
}

.playground_root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
