.root {
  display: flex;
  flex-direction: row;
  margin-block: 16px;
  justify-content: space-between;
  height: 30px;
  padding-inline: 0px;
}

.root li {
  list-style: none;
}

.root a {
  text-decoration: none;
}

.titleRoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.titleText {
  font-size: 18px;
  margin-inline: 8px;
}

.themeToggle {
  width: 40px;
  height: 100%;
  background-color: transparent;
  color: var(--main-color);
  border-style: none;
}

.icon {
  height: 100%;
}
