.root {
  display: flex;
  flex-direction: row;
  margin-block: 16px;
  justify-content: space-between;
}

.root a {
  text-decoration: none;
}

.titleRoot {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleText {
  font-size: 18px;
  margin-inline: 8px;
}

.themeToggle {
  font-size: 14px;
  /* background-color: #bbb; */
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 1rem;
  line-height: 1.5rem;
  padding-inline: 0.75rem;
  border-style: none;
}
