.root {
  margin-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
  .root {
    margin-inline: 0vw;
  }
}

.frame {
  display: block;
  border: solid 1px var(--border-color);
  padding: 24px;
}

.frame::before {
  content: ">";
  display: block;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.title {
  text-align: left;
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 16px;
}

.root h1:not(.title),
.root h2,
.root h3 {
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 8px;
}

.root h1:not(.title)::before,
.root h2::before,
.root h3::before {
  content: "> ";
  color: var(--accent-color);
}

.date {
  width: 100%;
  text-align: right;
}

.root img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.root pre {
  padding: 1rem;
  background-color: var(--base-color-dark);
  border-radius: 0;
  border: solid 1px var(--border-color);
  overflow-x: auto;
}
