.root {
  margin-inline: 15vw;
  margin-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
  .root {
    margin-inline: 0vw;
  }
}

.title {
  text-align: center;
}

.date {
  width: 100%;
  text-align: right;
}

.root img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.root pre {
  padding: 1rem;
  background-color: black;
  color: aliceblue;
}

.root table {
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.root th,
.root td {
  padding: 0.75rem 1.5rem;
  border: 1px solid #ddd;
}

/* 外枠を削除 */
.root th:first-child,
.root td:first-child {
  border-left: none;
}

.root th:last-child,
.root td:last-child {
  border-right: none;
}

.root thead tr:first-child th {
  border-top: none;
}

.root tbody tr:last-child td {
  border-bottom: none;
}
