.root {
  margin-left: 25vw;
  width: 50vw;
  margin-right: 25vw;
  margin-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
  .root {
    margin-left: 4vw;
    width: 92vw;
    margin-right: 4vw;
  }
}

.title {
  text-align: center;
}

.date {
  width: 100%;
  text-align: right;
}

.root img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.root pre {
  padding: 1rem;
  background-color: black;
  color: aliceblue;
}
