.link {
  text-decoration: none;
  padding-block: 1rem;
  padding-inline: 16px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
}

.root {
  margin-block: 1rem;
  display: flex;
  /* align-items: center; */
}

.title {
  margin: 0;
  width: 80%;
}

.createdAt {
  margin: 0;
  width: 20%;
  display: flex;
  justify-content: end;
}

.tags {
  display: flex;
  column-gap: 12px;
}

.tagButton {
  padding-inline: 2px;
  padding-block: 2px;
}

.tag {
  font-size: 14px;
  background-color: #bbb;
  border-radius: 1rem;
  line-height: 1.5rem;
  padding-inline: 0.75rem;
}
