.link {
  text-decoration: none;
  padding-block: 1rem;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: var(--base-color-light);

  /* animation-name: pop;
  animation-duration: 220ms;
  animation-timing-function: ease-in; */
}

.link:hover {
  background-color: var(--base-color-dark);
}

.root {
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
}

@media screen and (max-width: 600px) {
  .root {
    margin-block: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}

.title {
  margin: 0;
  flex-grow: 1;
}

.createdAt {
  margin: 0;
  font-size: 1rem;
  text-align: end;
}
@media screen and (max-width: 600px) {
  .createdAt {
    font-size: 0.9rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
}

.tagButton {
  padding-inline: 2px;
  padding-block: 2px;
}

.tag {
  font-size: 14px;
  background-color: var(--accent-color);
  color: var(--base-color);
  border-radius: 1rem;
  line-height: 1.5rem;
  padding-inline: 0.75rem;
}

/* @keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
