.link {
  text-decoration: none;
  padding-block-start: 24px;
  padding-block-end: 16px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  background-color: var(--base-color-light);
  gap: 12px;

  /* animation-name: pop;
  animation-duration: 220ms;
  animation-timing-function: ease-in; */
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--base-color-dark);
    transform: scale(1.01, 1.01);
    transition: 0.1s ease-in;
  }
}

@media (hover: none) {
  .link:active {
    background-color: var(--base-color-dark);
    transform: scale(1.02, 1.02);
    transition: 0.1s ease-in;
  }
}

.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .root {
    margin-block: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}

.title {
  margin: 0;
  flex-grow: 1;
}

.createdAt {
  margin: 0;
  opacity: 0.6;
  font-size: 14px;
  text-align: end;
}
@media screen and (max-width: 600px) {
  .createdAt {
    font-size: 0.9rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
}

.tagButton {
  padding-inline: 2px;
  padding-block: 2px;
}

.tag {
  border-radius: 1rem;
  line-height: 1.25rem;
  opacity: 0.6;
  border: solid 0.6px;
  border-color: var(--main-color);
  border-radius: 0.8rem;
  padding-inline: 8px;
  font-size: 11px;
  font-weight: bold;
}

/* @keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
