html {
  font-size: 16px;
}

html.dark:root {
  --main-color: #eceff1;
  --base-color: #263238;
  --base-color-dark: #131a1e;
  --accent-color: #928c82;
}

html.light:root {
  --main-color: #263238;
  --base-color: #eceff1;
  --base-color-dark: #daddde;
  --accent-color: #928c82;
}

body {
  margin: 0;
  background-color: var(--base-color);
  margin-inline: 4vw;
}
p {
  font-family: 'Arial';
  font-size: 1rem;
  color: var(--main-color);
  word-wrap: break-word;
}
span {
  font-family: 'Arial';
  font-size: 1rem;
  color: var(--main-color);
  word-wrap: break-word;
}
h1 {
  font-family: 'Arial';
  font-size: 2rem;
  color: var(--main-color);
}
h2 {
  font-family: 'Arial';
  font-size: 1.5rem;
  color: var(--main-color);
}
button {
  font-size: 1rem;
  color: black;
  background-color: unset;
  cursor: pointer;
  border: solid 2px black;
  border-radius: 40px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
button:focus {
  outline: none;
}
button:active {
  opacity: 0.8;
}
img {
  object-fit: cover;
  width: 100%;
  height: 30vh;
}
table {
  border: none;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: 'Arial';
  color: var(--main-color);
  border-collapse: collapse;
}
tr {
  width: auto;
  height: 5vh;
}
td {
  background-color: var(--base-color);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
a:hover {
  cursor: pointer;
}

code {
  padding-inline: 0.25rem;
  border-radius: 0.2rem;
  background-color: var(--base-color-dark);
  font-size: 1rem;
}

li {
  color: var(--main-color);
}

/* remark prism */
.token {
  color: white;
}
.token.keyword {
  color: #d285de;
}
.token.string {
  color: #db9e58;
}
.token.literal-property,
.token.property,
.token.maybe-class-name,
.token.class-name {
  color: #708fff;
}
.remark-highlight pre,
.remark-highlight code {
  border-radius: 10px;
  background-color: #131a1e !important;
  padding-inline: 0rem;
  font-size: 1rem;
  white-space: break-spaces;
}
/* end */
